.RestaurantCard-container {
  border: 1px solid black;
  width: 200px; /* Decreased width */
  height: 250px; /* Decreased height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 16px; /* Added margin for spacing */
}

.RestaurantCardImage {
  width: 100%;
  height: 40%; /* Decreased height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.RestaurantCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RestaurantCard-Details {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}